.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 32px 0;
  &__action {
    display: flex;
    align-items: center;
    font-size: 22px;
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
